//@import 'styles/_colors.scss'; // assuming a styles directory under src/

.testBackground {
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: black;
}

.testContainer{
    position: absolute;
    top: 20%;
    left: 20%;
    height: 100px;
    width: 60px;
    //background-color: rgba(207, 37, 216, 0.5);
    //transform: translate(-50%, -50%);
}
