//@import 'styles/_colors.scss'; // assuming a styles directory under src/

.homeContainer {
    width: 100vw;
    height: 100vh;
    color: rgb(202, 199, 199);
    background-color: rgb(255, 254, 254);
    cursor: none;
}
